<!DOCTYPE html>
<html>
<head>
  <title>Picturegram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>

  <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
